HOST=
PORT=
RELOAD=

POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MQTT_HOST=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=

MONOPAY_TOKEN=
MONOPAY_REDIRECT_URL=